@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&family=Josefin+Slab:ital,wght@0,100;0,300;0,500;0,600;1,100;1,200;1,500;1,600&family=Mulish:ital,wght@0,200;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);



*{
    margin: 0; /*definindo margens como 0*/
    padding: 0; /*margem interna do elemento*/
}
 
header{
    width: 100%; /*largura cabeçalho*/
    height: 100vh; /*vh = view header, ou seja ajuste automatico para que não corte a imagem em altura.*/
    overflow: hidden;/*para evitar ter a barra de rolagem para o lado*/
    position: relative;
} 

.image-wrapper{ /*encapsulamento da imagem, adpatamento de imagens*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0, 0, 1);
}

.image-wrapper img{/*seletor para imagens que estão dentro da classe image-wrapper*/
    width: 100%;
    height: 100%;
    object-fit: cover;/*se a tela do dispositivo for menor ele não vai esticar a imagem mas sim "cortar" levando o centro
    em consideração*/
    opacity: 0.4;
    animation: centerzone 20s;
}

@keyframes centerzone {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 10%;
}
.banner h1{
    color: azure;
    font-size: 3.5rem;
    font-family:"baloo Da 2", serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 4);
    line-height: 5.5rem;
    opacity: 0;
    animation: moveBanner 2s forwards;
}

.banner p{
    font-family: "josefin Slab", serif;
    font-size: 2rem;
    color: whitesmoke;
    text-shadow: .3rem .2rem rgba(0, 0, 0, .4) ;
    margin-bottom: 2rem;
}

.banner button{
    font-family: "muli", serif;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.6mm;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.banner button:hover{
    opacity: 0.9;
}

@keyframes moveBanner {
    0%{
        transform: rotateY(-30deg);
    }
    100%{
        transform: rotateY(0);
        opacity: 1;
    }
    
}